
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-select,
.form-control {   
  border: 2px solid $light-color;
  border-bottom: 2px solid $primary-color;
  box-shadow: none;
  outline: 0 none;
  border-radius: 0;
  &:hover {
    border: 2px solid $primary-color;
  } 
  &:focus {
    box-shadow: none;
    outline: 0 none;
    border-radius: 0;
    border: 2px solid $primary-color;
  }
}
