header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index:1000 !important;
}


nav {
  padding: 15px 40px 0px 40px;
  background-color: $light-color;
  & a {
    color: $primary-color;
    text-decoration: none;
  }

  & > div {
    border-bottom: 3px solid $black-color;
    & div form {
      padding-bottom: 12px;
    }
  }

  &:hover {
    background-color: $primary-color;
    border-bottom: 3px solid $black-color;
    & a {
      color: #fff;
    }
    & div {
      border-bottom: none;
    }
    & > div.nav > div > label > span  {
      border-color: #fff;
    }
  }

  & h1 a {
    padding-right: 40px;
    font-family: 'Chakra-Petch-Bold';
    letter-spacing: 1.6px;
    font-size: .75em;
    &:hover {
      color: $tertiary-color;
    }
  }

  & ul {
    list-style-type: none;
    & li a {
      font-family: 'Chakra-Petch-Medium';
      font-size: .95em;
      position: relative;
      &:after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0%;
        background-color: #fff;
        transition: 0.2s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  .searchForm {
    position: relative;
  }

  .search-list {
    position: absolute;
    z-index: 1000;
    width: 100%;
  }

  @media (max-width:850px) {
    .search-list {
      padding-right: 50px;
    }
  }
  
  @media (max-width:480px) {
    .search-list {
      padding-right: 0;
    }
  }
}



.nav {
  & .nav-btn {
    display: none;
  }
  & .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  & #nav-check {
    display: none;
  }
}

@media (max-width:850px) {
  nav div {
    & h1 a {
      padding-right: 20px;
    }
    & div form {
      min-width: 250px;
      padding-right: 50px;
    }
  }

  .nav {
    & .nav-btn {
      display: block;
      position: absolute;
      right: 15px;
      top: 5px;
      width: 50px;
      
      & label {
        display: block;
        width: 50px;
        height: 50px;
        &:hover > span {
          border-color: $tertiary-color;
        }
        & span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3.5px solid $primary-color;
        }
      }
    }

    & ul {
      top: 75px;
      right: 40px;
      width: 12em;
      display: block;
      position: absolute;
      flex-direction: column;
      text-align: left;
      background-color: $primary-color;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      & a {
        color: white;
      }
    }

    & #nav-check:not(:checked) ~ ul {
      height: 0px;
    }

    & #nav-check:checked ~ ul {
      height: 5em;
      overflow-y: auto;
    }
  }
}
@media (max-width:480px) {
  nav div {
    & div form {
      padding-right: 0;
    }
  }
}
