@import "base/fonts", "base/colors", "base/animations";
@import "helpers/variables";
@import "layout/navbar","layout/footer";
@import "pages/my-meals", "pages/searchPage", "pages/product";
@import "components/buttons",
        "components/borders",
        "components/calendar",
        "components/forms",
        "components/tab",
        "components/jumbotron";

* {
  box-sizing: border-box;
  font-family: 'Nunito-Sans-Regular';
}

#root {
  position: relative;
  min-height: 100%;
  background-color: $light-color;
}

html {
  height: 100%;
}

body { 
  margin: auto;
  font-family: 'Nunito-Sans-Regular';
  color: $black-color;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chakra-Petch-Bold';
  letter-spacing: 1.6px;
}


.pt-150 {
  padding-top: 150px;
}

.searchForm {
  position: relative;
}

.search-list {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

@media (max-width:850px) {
  .search-list {
    padding-right: 50px;
  }
}

@media (max-width:480px) {
  .search-list {
    padding-right: 0;
  }
}

.margin-container {
  margin: 40px;
}

.title-semi-bold {
  font-family: 'Chakra-Petch-SemiBold';
  letter-spacing: 1.2px;
}
