
.product-image {
  width: 80%;
  margin: auto;
  display: block;
}

.nutriscore-image {
  width: 15%;
}
.novagroup-image {
  width: 4%;
}

@media (min-width:750px) and (max-width:990px) {
  .product-image {
    max-width: 70%;
    padding: 0;
  }
}

@media (max-width:750px) {
  .nutriscore-image {
    width: 70%;
  }
  .novagroup-image {
    width: 20%;
  }
}