.containerAdd {
  input[type="number"],
  .form-control-secondary {
    border-bottom: 2px solid $secondary-color;
    &:hover, &:focus {
      border: 2px solid $secondary-color;
    } 
  }
  .total-carbs {
    margin-top: 10px;
    text-align: center;
    background-color: $tertiary-color;
    border-radius: 6px;
    padding: 5px 30px;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0, 1);
    &.hidden {
      transform: scale(0);
    }
  }
  
}

.ProductPage{
  h4 {
    color: $quaternary-color;
    margin-bottom: 40px;
  }
  .product-img-container {
    text-align: center;
    .product-img {
    max-width: 100%;
  }
}

  .nutriscore-image {
    height: 4em;
  }
  .novagroup-image {
    height: 4em;
  }
}

.modal-content  {
  border-radius: 0;
}

.product-image {
  width: 80%;
  margin: auto;
  display: block;
}

.searchCard {
  .nutriscore-image {
    width: 15%;
  }
  .novagroup-image {
    width: 4%;
  }
}


@media (min-width:750px) and (max-width:990px) {
  .product-image {
    max-width: 70%;
    padding: 0;
  }
}

@media (max-width:750px) {
  .searchCard {
    .nutriscore-image {
      width: 70%;
    }
    .novagroup-image {
      width: 20%;
    }
  }
}